blinker==1.4
click==7.1.2
ConsoleMenu==1.0.1
docutils==0.15.2
editorconfig==0.12.2
feedgenerator==1.9
Flask==1.1.2
Flask-WTF==0.14.3
future==0.18.2
ghp-import==0.5.5
iso8601==0.1.12
itsdangerous==1.1.0
Jinja2==2.10.3
jsbeautifier==1.11.0
linkfinder==1.0
Markdown==3.1.1
MarkupSafe==1.1.1
pelican==4.2.0
Pygments==2.5.2
pyserial==3.4
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3.1
serial==0.0.97
six==1.13.0
Unidecode==1.1.1
Werkzeug==1.0.1
WTForms==2.3.1
